.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	background-color: var(--gray-700);
	display: flex;
	padding: 1rem 1rem;

	background-color: var(--blue-dark);
	border-radius: 8px;

	color: var(--gray-100);
	font-size: 0.875rem;
	font-weight: 700;
	line-height: 1.25rem;
	transition: background-color 0.1s;

	cursor: pointer;
}

.button:not(:disabled):hover {
	background-color: var(--blue);
}

.button:disabled {
	cursor: not-allowed;
	opacity: 0.9;
}
