.task {
	display: flex;
	gap: 12px;
	align-items: flex-start;
	padding: 1rem;

	background-color: var(--gray-500);
	border-radius: 8px;
	transition: all 0.1s;
}
.task p {
	font-size: 0.875rem;
	line-height: 1.4;

	color: var(--gray-100);
	transition: all 0.1s;
}

.task button {
	background: none;
	color: var(--gray-300);
	border-radius: 4px;
	min-height: 24px;
	min-width: 24px;
	cursor: pointer;
	transition: all 0.1s;
	margin-left: auto;
}

.task button:hover {
	background: var(--gray-400);
	color: var(--danger);
}

.task input {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.taskCheckbox {
	position: relative;
	min-height: 18px;
	min-width: 18px;
	border-radius: 9999px;
	border: 2px solid var(--blue);

	transition: all 0.1s;
}

.taskCheckbox:hover {
	border-color: var(--blue-dark);
	background-color: var(--blue-dark-checkmark);
}

input:checked ~ .taskCheckbox {
	background-color: var(--purple-dark);
	border: 2px solid var(--purple-dark);
}
input:checked ~ .taskCheckbox:hover {
	background-color: var(--purple);
	border: 2px solid var(--purple);
}

input:checked ~ .taskCheckbox::before {
	content: url("../assets/checkmark.svg");
	position: absolute;
	z-index: 1;
	right: 0;
	left: 0;
	top: 0;
	bottom: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
}

input:checked ~ .taskCheckbox + p {
	color: var(--gray-300);
	text-decoration: line-through;
}

.checked {
	border: 1px solid var(--gray-500);
}
.notChecked {
	border: 1px solid var(--gray-400);
}
