.taskMenu {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 8px;
}
.inputWrapper {
	width: 100%;
}
.input {
	height: calc(3.375rem);
	border-radius: 8px;
	width: 100%;
	background-color: var(--gray-500);

	border: 1px solid var(--gray-700);

	padding: 1rem;
	color: var(--gray-100);
	font-size: 1rem;
}

.input::placeholder {
	color: var(--gray-300);
}
